---
layout: default
single: true
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <article class="hentry" role="article">
        {% include article.html %}
        <footer>
        {% unless page.sharing == false %}
          <div class="sharing">
            If you found this post useful don't forget to <a data-scroll href="#bazinga">share</a> it with your friends.
          </div>
        {% endunless %}
        {% if page.previous.url or page.next.url %}
          <ul class="pager">
            {% if page.previous.url %}
            <li class="previous"><a href="{{page.previous.url}}">&larr; Older</a></li>
            {% endif %}
            {% if page.next.url %}
            <li class="next"><a href="{{page.next.url}}">Newer &rarr;</a></li>
            {% endif %}
          </ul>
        {% endif %}
        </footer>
      </article>
      {% if site.disqus_short_name and page.comments == true %}
        <section>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
      {% endif %}
    </div>
  </div>
</div>
