$container-md: 750px !default;
$container-lg: $container-md !default;

body {
  > header {
    .branding {
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
    .clearfix {
      @extend .visible-xs-block;
    }
    .navigation {
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
  }
  > footer {
    .footer {
      @extend .col-xs-12;
      .copyright {
        @extend .clearfix;
      }
      .disclaimer {
        @extend .clearfix;
      }
      .credit {
        @extend .clearfix;
      }
    }
  }
}

article {
  > header {
    .entry-title {
      @extend .col-xs-12;
      @extend .col-sm-9;
    }
    .clearfix {
      @extend .visible-xs;
    }
    .entry-date {
      @extend .col-xs-12;
      @extend .col-sm-3;
    }
    .entry-categories {
      @extend .col-xs-12;
    }
    .sharing {
      @extend .col-xs-6;
      padding-top: 4px;
    }
    .donating {
      @extend .col-xs-6;
      padding-top: 4px;
      .buttons {
        @extend .pull-right;
      }
    }
    .changetip_tipme_button {
      @extend .pull-left;
      padding-right: 96px;
    }
  }
}
