<div class="container">
  <div class="row">
    <div class="footer col-xs-12">
      <p>
        <span class="copyright clearfix">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}. All Rights Reserved.</span>
        {% if site.show_disclaimer %}<span class="disclaimer clearfix">The views and opinions expressed in this site are strictly my own and do not represent my employer’s opinions and strategies.</span>{% endif %}
        <span class="credit clearfix">Powered by <a href="http://octopress.org">Octopress</a></span>
      </p>
    </div>
  </div>
</div>
