article {
  font-size: $content-font-size;
  header {
    margin: 10px 0;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $title-font-size;
      font-weight: $title-font-weight;
    }
    .entry-date {
      font-size: $date-font-size;
      line-height: $date-line-height;
      color: $date-color;
      text-transform: uppercase;
    }
    @media (min-width: $screen-sm-min) {
      .entry-date > span {
        float: right !important;
      }
    }
    .entry-categories {
      color: $categories-color;
      font-size: $categories-font-size;
    }
  }
  footer {
    .pager {
      margin: 0 0 1em;
    }
  }
  p {
    margin: 0 0 0.8em;
  }
  img {
    @extend .img-responsive;
    display: block;
    margin: 1em auto;
  }

  .embed-video-16by9 {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    margin: 0 0 0.8em;
  }
  .embed-video-4by3 {
    @extend .embed-responsive;
    @extend .embed-responsive-4by3;
    margin: 0 0 0.8em;
  }

  .img-shadow {
    @include box-shadow(rgba(#000, .25) 0 0 10px);
    border: 1px solid #ddd;
  }

  @media (min-width: $screen-sm-min) {
    .window-chrome {
      padding-top: image-height("window-chrome-md.png") !important;
      background: url("/images/window-chrome-md.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.5em);
      @include box-shadow(rgba(#000, .25) 0 0 20px);
    }
  }
  @media (max-width: $screen-xs-max) {
    .window-chrome {
      padding-top: image-height("window-chrome-xs.png") !important;
      background: url("/images/window-chrome-xs.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.3em);
      @include box-shadow(rgba(#000, .25) 0 0 10px);
    }
  }

  @media (min-width: $screen-sm-min) {
    .window-yosemite {
      padding-top: image-height("window-yosemite-md.png") !important;
      background: url("/images/window-yosemite-md.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.3em);
      @include box-shadow(rgba(#000, .25) 0 0 20px);
    }
  }
  @media (max-width: $screen-xs-max) {
    .window-yosemite {
      padding-top: image-height("window-yosemite-xs.png") !important;
      background: url("/images/window-yosemite-xs.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.2em);
      @include box-shadow(rgba(#000, .25) 0 0 10px);
    }
  }

  @media (min-width: $screen-sm-min) {
    .window-firefox {
      padding-top: image-height("window-firefox-md.png") !important;
      background: url("/images/window-firefox-md.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.5em);
      @include box-shadow(rgba(#000, .25) 0 0 20px);
    }
  }
  @media (max-width: $screen-xs-max) {
    .window-firefox {
      padding-top: image-height("window-firefox-xs.png") !important;
      background: url("/images/window-firefox-xs.png") no-repeat;
      border: 1px solid #d8d8d8;
      @include border-radius(.4em);
      @include box-shadow(rgba(#000, .25) 0 0 10px);
    }
  }

  @media (min-width: $screen-sm-min) {
    .window-generic {
      padding-top: image-height("window-generic-md.png") !important;
      background: url("/images/window-generic-md.png") no-repeat;
      border: 2px solid #323232;
      @include border-radius(.5em);
      @include box-shadow(rgba(#000, .25) 0 0 20px);
    }
  }
  @media (max-width: $screen-xs-max) {
    .window-generic {
      padding-top: image-height("window-generic-xs.png") !important;
      background: url("/images/window-generic-xs.png") no-repeat;
      border: 2px solid #323232;
      @include border-radius(.3em);
      @include box-shadow(rgba(#000, .25) 0 0 10px);
    }
  }
}
