{% capture category %}{{ post.categories | size }}{% endcapture %}
<header>
  <div class="row">
    <div class="entry-title">
      <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    </div>
    <div class="clearfix"></div>
    <div class="entry-date">
      <span>{% unless page.meta == false %}{% include post/date.html %}{{ time }}{% endunless %}</span>
    </div>
  </div>
  {% comment %}
  {% if category != '0' %}
  <footer>
    <div class="row">
      <div class="entry-categories">{% include post/categories.html %}</div>
    </div>
  </footer>
  {% endif %}
  {% endcomment %}
</header>
