{% unless page.no_header %}
  <header>
    <div class="entry-title row">
      <div class="col-xs-12 col-sm-9">
        {% if index %}
        <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        {% else %}
        <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="entry-date hidden-xs col-xs-12 col-sm-3">
        <span class="pull-right">{% unless page.meta == false %}{% include post/date.html %}{{ time }}{% endunless %}</span>
      </div>
      <div class="entry-date visible-xs col-xs-12 col-sm-3">
        <span>{% unless page.meta == false %}{% include post/date.html %}{{ time }}{% endunless %}</span>
      </div>
    </div>
    {% unless index == true %}
    <div class="entry-categories row">
      <div class="col-xs-12">{% include post/categories.html %}</div>
    </div>
    {% endunless %}
  </header>
{% endunless %}
{% unless index == true %}
<div class="entry-content">{{ content }}</div>
{% endunless %}
