{% unless page.no_header %}
  <header>
    <div class="row">
      <div class="entry-title">
        {% if index %}
        <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        {% else %}
        <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </div>
      <div class="clearfix"></div>
      <div class="entry-date">
        <span>{% unless page.meta == false %}{% include post/date.html %}{{ time }}{% endunless %}</span>
      </div>
    </div>
    {% unless index == true %}
    <div class="row">
      <div class="entry-categories">{% include post/categories.html %}</div>
    </div>
    <div id="bazinga" class="row">
      {% unless page.sharing == false %}
        <div class="sharing">{% include post/sharing.html %}</div>
      {% endunless %}
      {% unless page.donating == false %}
        <div class="donating">{% include post/donating.html %}</div>
      {% endunless %}
    </div>
    {% endunless %}
  </header>
{% endunless %}
{% unless index == true %}
  <div class="entry-content">{{ content }}</div>
{% endunless %}
